{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Formularz rejestracji ShowTime</h3>
  <div class="form-group">
    <label for="email">Adres email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Wprowadź adres email"
    />
  </div>
  <div class="form-group">
    <label for="nick">Nazwa użytkownika</label>
    <input
      type="text"
      class="form-control"
      id="nick"
      name="nick"
      placeholder="Wprowadź nazwę użytkownika"
    />
  </div>
  <div class="form-group">
    <label for="password1">Hasło</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Wprowadź hasło"
    />
  </div>
  <div class="form-group">
    <label for="password2">Potwierdź hasło</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Wprowadź hasło ponownie"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Zarejestruj mnie</button>
</form>
{% endblock %}
